{% if type == 'block' %}
  {% assign image = block.settings.image %}
  {% assign text_image = block.settings.text_image %}
  {% assign text = block.settings.text %}
  {% assign btn_text = block.settings.btn_text %}
  {% assign btn_link = block.settings.btn_link %}
  {% assign hero_full = block.settings.hero_full %}
  {% assign hero_top = block.settings.hero_top %}
{% else %}
  {% assign image = section.settings.image %}
  {% assign text_image = section.settings.text_image %}
  {% assign text = section.settings.text %}
  {% assign btn_text = section.settings.btn_text %}
  {% assign btn_link = section.settings.btn_link %}
  {% assign hero_full = section.settings.hero_full %}
  {% assign hero_top = section.settings.hero_top %}
{% endif %}
<section class="hero is-main{% if hero_full == true %} is-fullheight is-full-custom{% endif %}{% if hero_top == true %} is-fullheight-with-navbar is-top-custom{% endif %}">
  <div class="hero-body">
    <div class="container has-text-centered">
      {% if image %}
        <div class="content-top" data-aos="fade-up">
          <figure class="image">
            <img class="is-margin-center" alt="{{ image.alt | escape }}" src="{{ image | img_url: '1400x' }}">
          </figure>
        </div>
      {% endif %}
      <div class="content-bottom" data-aos="fade-up">
        {% if text_image %}
          <figure class="image">
            <img class="is-margin-center" alt="{{ text_image.alt | escape }}" src="{{ text_image | img_url: '700x' }}">
          </figure>
        {% endif %}
        {% if text != blank %}
          <h5 class="title is-5 has-text-centered has-text-primary is-marginless">{{ text }}</h5>
          <span class="icon is-medium is-margin-center">
            <i class="cf-icon-arrow-down-32"></i>
          </span>
        {% endif %}
        {% if btn_text != blank %}
          <div>
            <a href="{{ btn_link }}" class="button is-small is-rounded is-link is-uppercase has-text-centered">
              <span>{{ btn_text }}</span>
            </a>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
