{% if type == 'block' %}
  {% assign title = block.settings.title %}
  {% assign logo_1 = block.settings.logo_1 %}
  {% assign logo_2 = block.settings.logo_2 %}
  {% assign logo_3 = block.settings.logo_3 %}
  {% assign logo_4 = block.settings.logo_4 %}
  {% assign logo_5 = block.settings.logo_5 %}
  {% assign logo_6 = block.settings.logo_6 %}
  {% assign text_btn = block.settings.text_btn %}
  {% assign btn_link = block.settings.btn_link %}
{% else %}
  {% assign title = section.settings.title %}
  {% assign logo_1 = section.settings.logo_1 %}
  {% assign logo_2 = section.settings.logo_2 %}
  {% assign logo_3 = section.settings.logo_3 %}
  {% assign logo_4 = section.settings.logo_4 %}
  {% assign logo_5 = section.settings.logo_5 %}
  {% assign logo_6 = section.settings.logo_6 %}
  {% assign text_btn = section.settings.text_btn %}
  {% assign btn_link = section.settings.btn_link %}
{% endif %}
<section class="hero logos has-background-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 data-aos="fade-up" class="title is-2 has-text-primary">
        {{ title }}
      </h1>
      <div data-aos="fade-up" class="columns is-flex is-vcentered is-multiline">
        <div class="column is-half-mobile">
          <figure class="image is-96x96">
            <img src="{{ logo_1 | img_url: '96x' }}">
          </figure>
        </div>
        <div class="column is-half-mobile">
          <figure class="image is-96x96">
            <img src="{{ logo_2 | img_url: '96x' }}">
          </figure>
        </div>
        <div class="column is-half-mobile">
          <figure class="image is-96x96">
            <img src="{{ logo_3 | img_url: '96x' }}">
          </figure>
        </div>
        <div class="column is-half-mobile">
          <figure class="image is-96x96">
            <img src="{{ logo_4 | img_url: '96x' }}">
          </figure>
        </div>
        <div class="column is-half-mobile">
          <figure class="image is-96x96">
            <img src="{{ logo_5 | img_url: '96x' }}">
          </figure>
        </div>
        <div class="column is-half-mobile">
          <figure class="image is-96x96">
            <img src="{{ logo_6 | img_url: '96x' }}">
          </figure>
        </div>
      </div>
      <a href="{{ btn_link }}" class="button is-small is-rounded is-warning is-uppercase has-text-centered has-text-white">
        <span>{{ text_btn }}</span>
      </a>
    </div>
  </div>
</section>
