<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-1 is-size-5-mobile has-text-centered has-text-primary is-marginless">{{ product.title }}</h1>
        <div class="single-product-images">
          {% for image in product.images %}
            <div data-thumb="{{ image.src | img_url: '1920x' }}" class="image feature is-margin-center">
              <img class="is-margin-center img-fluid" src="{{ image.src | img_url: '1920x' }}">
            </div>
          {% endfor %}
        </div>
        <h2 class="title is-2 is-size-6-mobile has-text-centered has-text-primary is-marginless product-price">{{ variant.price | money }}</h2>
        <form class="product-form" method="post" action="/cart/add">
          {% comment %}
            {% unless product.has_only_one_default_variant %}
            {% endunless %}
          {% endcomment %}
          {% unless product.variants.size == 1 %}
            {% for product_option in product.options_with_values %}
              <div class="field product-option product-option-details">
                <label class="label">{{ product_option.name }}</label>
                <div class="control">
                  <div class="select is-small is-outlined is-uppercase is-fullwidth">
                    <select data-index="option{{ forloop.index }}">
                      {% for variant in product.variants %}
                        <option data-price="{{ variant.price | money }}" value="{{ variant.title | escape }}" {% if variant.selected %} selected="selected" {% endif %}>{{ variant.title }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endunless %}
          <div class="field is-grouped qty-add">
            <div class="control is-flex qty">
              <input class="input" type="number" id="quantity" name="quantity" value="1">
            </div>
            <div class="control">
              <input type="hidden" id="variant-id-details" name="id" value="{{ product.selected_or_first_available_variant.id }}">
              <input class="button is-small is-rounded is-primary is-uppercase is-fullwidth has-text-centered" type="submit" value="Add to Cart">
            </div>
          </div>
        </form>
      </div>
      <div class="column">
        <div class="content">
          <h2 class="title is-6">Description</h2>
          <p>{{ product.description }}</p>
        </div>
        <div class="content">
          <div class="accordions">
            <article class="accordion">
              <div class="accordion-header toggle">
                <h2 class="title is-6">Details</h2>
                <button class="toggle" aria-label="toggle"></button>
              </div>
              <div class="accordion-body">
                <div class="accordion-content content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                  </p>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-header toggle">
                <h2 class="title is-6">Shopping Policy</h2>
                <button class="toggle" aria-label="toggle"></button>
              </div>
              <div class="accordion-body">
                <div class="accordion-content content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                  </p>
                </div>
              </div>
            </article>
            <article class="accordion">
              <div class="accordion-header toggle">
                <h2 class="title is-6">Reviews</h2>
                <button class="toggle" aria-label="toggle"></button>
              </div>
              <div class="accordion-body">
                <div class="accordion-content content">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. <strong>Pellentesque risus mi</strong>, tempus quis placerat ut, porta nec nulla. Vestibulum rhoncus ac ex sit amet fringilla. Nullam gravida purus diam, et dictum <a>felis venenatis</a> efficitur. Aenean ac <em>eleifend lacus</em>, in mollis lectus. Donec sodales, arcu et sollicitudin porttitor, tortor urna tempor ligula, id porttitor mi magna a neque. Donec dui urna, vehicula et sem eget, facilisis sodales sem.
                  </p>
                </div>
              </div>
            </article>
          </div>
        </div>
        {% include 'related-posts' %}
      </div>
    </div>
  </div>
</section>
