<div class="dropdown is-hoverable">
  <div class="dropdown-trigger">
    <button class="button is-small is-rounded is-link is-outlined is-uppercase has-text-centered " aria-haspopup="true" aria-controls="dropdown-sort">
      <span>Sort By</span>
    </button>
  </div>
  <div class="dropdown-menu" id="dropdown-sort" role="menu">
    <div class="dropdown-content">
      <a href="{{ collection.url }}/?sort_by=manual" class="dropdown-item">
        Featured
      </a>
      <a href="{{ collection.url }}/?sort_by=best-selling" class="dropdown-item">
        Best Selling
      </a>
      <a href="{{ collection.url }}/?sort_by=price-ascending" class="dropdown-item">
        Price: Low to High
      </a>
      <a href="{{ collection.url }}/?sort_by=price-descending" class="dropdown-item">
        Price: High to Low
      </a>
      <a href="{{ collection.url }}/?sort_by=title-ascending" class="dropdown-item">
        Alphabetically: A-Z
      </a>
      <a href="{{ collection.url }}/?sort_by=title-descending" class="dropdown-item">
        Alphabetically: Z-A
      </a>
      <a href="{{ collection.url }}/?sort_by=created-descending" class="dropdown-item">
        New to Old
      </a>
      <a href="{{ collection.url }}/?sort_by=created-ascending" class="dropdown-item">
        Old to New
      </a>
    </div>
  </div>
</div>
