<main class="account-page has-background-light-turquoise">
  <section class="hero is-page">
    <div class="hero-body">
      <div class="content has-text-centered">
        <h1 class="title is-1 is-size-5-mobile has-text-centered has-text-primary is-marginless">My Account</h1>
      </div>
    </div>
  </section>
  <section class="section">
    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <div class="content has-text-centered">
          {% if customer.name != nil %}
            <p class="title is-3 is-size-6-mobile is-marginless">Hello {{ customer.name }}</p>
            <p>Not {{ customer.name }}? <a href="/account/logout">Sign out</a>.</p>
          {% else %}
            <p class="title is-3 is-size-6-mobile is-marginless">Hello</p>
            <p>Not your account? <a href="/account/logout">Sign out</a>.</p>
          {% endif %}
          <p class="title is-6 is-size-7-mobile is-marginless">From your account dashboard you can view your recent orders and add new addresses</p>
          <hr>
          <div class="columns">
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <div class="content has-text-centered">
                    <h2 class="title is-3 is-size-6-mobile has-text-primary is-marginless">Orders</h2>
                    <hr>
                    {% comment %}
                    If we have past orders, loop through each one
                    {% endcomment %}
                    {% paginate customer.orders by 6 %}
                      {% if customer.orders.size != 0 %}
                        <div class="content has-text-left">
                          <table class="table is-bordered is-striped is-hoverable is-fullwidth is-responsive">
                            <thead>
                              <tr>
                                <th>Order</th>
                                <th>Date</th>
                                <th>Payment Status</th>
                                <th>Fulfillment Status</th>
                                <th>Total</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for order in customer.orders %}
                                <tr>
                                  <td data-label="Order">{{ order.name | link_to: order.customer_url }}</td>
                                  <td data-label="Date">{{ order.created_at | date: '%B %d, %Y' }}</td>
                                  <td data-label="Payment Status">{{ order.financial_status_label }}</td>
                                  <td data-label="Fulfillment Status">{{ order.fulfillment_status_label }}</td>
                                  <td data-label="Total">{{ order.total_price | money }}</td>
                                </tr>
                                <tr class="space is-hidden-desktop"></tr>
                              {% endfor %}
                            </tbody>
                          </table>
                        </div>
                      {% else %}
                        <div class="content">
                          <p>You haven't placed any orders yet.</p>
                        </div>
                      {% endif %}
                      {% include 'pagination' %}
                    {% endpaginate %}
                  </div>
                </div>
              </div>
            </div>
            <div class="column">
              <div class="card">
                <div class="card-content">
                  <div class="content has-text-centered">
                    <h2 class="title is-3 is-size-6-mobile has-text-primary">Account Details</h2>
                    <hr>
                    <div class="content has-text-left">
                      <h3 class="subtitle is-5 is-size-6-mobile">{{ customer.name }}</h3>
                      <h3 class="subtitle is-6 is-size-7-mobile is-marginless-bottom">Email</h3>
                      <p class="is-6">{{ customer.email }}</p>
                      {% if customer.default_address != nil %}
                        <h3 class="subtitle is-6 is-size-7-mobile is-marginless-bottom">Default Address</h3>
                        <p class="is-6">
                          {{ customer.default_address.address1 }}<br>
                          {% if customer.default_address.address2 != "" %}
                            {{ customer.default_address.address2 }}<br>
                          {% endif %}
                          {% if customer.default_address.city != "" %}
                            {{ customer.default_address.city }}<br>
                          {% endif %}
                          {% if customer.default_address.province_code != "" %}
                            {{ customer.default_address.province_code | upcase }}<br>
                          {% endif %}
                          {% if customer.default_address.zip != "" %}
                            {{ customer.default_address.zip | upcase }}<br>
                          {% endif %}
                          {% if customer.default_address.country != "" %}
                            {{ customer.default_address.country }}<br>
                          {% endif %}
                          {% if customer.default_address.phone != "" %}
                            {{ customer.default_address.phone }}
                          {% endif %}
                        </p>
                      {% endif %}
                      <a href="/account/addresses">View Addresses({{ customer.addresses_count }})</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    {% endif %}
  </section>
  <section>
    <div>
      <figure class="image">
        <img class="is-margin-center lazyload" data-src="{{ 'pre-footer-illustration.png' | asset_url }}">
      </figure>
    </div>
  </section>
</main>
