<main class="page-page {{ page.handle }}">
  <section class="hero is-page{% if page.handle contains 'about-chosen-foods' %} has-background-light-turquoise{% endif %}{% if page.handle contains 'our-avocado-oil' %} is-fullheight is-fullheight-with-navbar is-full-custom is-top-custom{% endif %}">
    <div class="hero-body">
      {% include 'breadcrumbs' %}
      <div class="content has-text-centered">
        {% if page.handle contains 'about-chosen-foods' %}
          <div class="images lines">
            <figure class="image">
              <img src="{{ 'Aboutus_text_1.png' | file_url }}">
            </figure>
            <figure class="image">
              <img src="{{ 'Aboutus_text_2.png' | file_url }}">
            </figure>
            <div class="half">
              <figure class="image">
                <img src="{{ 'Aboutus_text_3.png' | file_url }}">
              </figure>
              <figure class="image">
                <img src="{{ 'Aboutus_text_4.png' | file_url }}">
              </figure>
            </div>
            <div class="half">
              <figure class="image">
                <img src="{{ 'Aboutus_text_5.png' | file_url }}">
              </figure>
            </div>
            <figure class="image">
              <img src="{{ 'Aboutus_text_6.png' | file_url }}">
            </figure>
            <figure class="image">
              <img src="{{ 'Aboutus_text_7.png' | file_url }}">
            </figure>
            <figure class="image">
              <img src="{{ 'Aboutus_text_8.png' | file_url }}">
            </figure>
            <figure class="image">
              <img src="{{ 'Aboutus_text_9.png' | file_url }}">
            </figure>
            <figure class="image">
              <img src="{{ 'Aboutus_text_10.png' | file_url }}">
            </figure>
            <figure class="image">
              <img src="{{ 'Aboutus_text_11.png' | file_url }}">
            </figure>
            <figure class="image">
              <img src="{{ 'Aboutus_text_12.png' | file_url }}">
            </figure>
            <figure class="image signature">
              <img src="{{ 'Aboutus_text_13.png' | file_url }}">
            </figure>
          </div>
          <h1 class="title is-hidden">{{ page.title }}</h1>
        {% elsif page.handle contains 'our-avocado-oil' %}
          <div class="parallax layer-three">
            <figure class="image">
              <img data-paroller-factor="-0.2" data-paroller-type="foreground" data-paroller-direction="vertical" src="{{ 'Hero_Our_Avos_3.png'| file_url }}">
            </figure>
          </div>
          <div class="parallax layer-two">
            <figure class="image">
              <img data-paroller-factor="-0.4" data-paroller-type="foreground" data-paroller-direction="vertical" src="{{ 'Hero_Our_Avos_2.png' | file_url }}">
            </figure>
          </div>
          <div class="parallax layer-one">
            <figure class="image">
              <img data-paroller-factor="0" data-paroller-type="foreground" data-paroller-direction="vertical" src="{{ 'Hero_Our_Avos_1.png' | file_url }}">
            </figure>
          </div>
          <h1 class="title is-hidden">{{ page.title }}</h1>
        {% else %}
          <h1 class="title is-1 is-size-5-mobile has-text-centered has-text-primary is-marginless">{{ page.title }}</h1>
        {% endif %}
      </div>
    </div>
  </section>
  <section class="section has-background-white">
    <div class="container">
      <div class="content">
        {{ page.content }}
      </div>
    </div>
  </section>
</main>
