<main class="cart-page">
  <section class="hero{% if cart.item_count <= 0 %} is-main is-fullheight is-full-custom is-fullheight-with-navbar is-top-custom{% endif %}">
    <div class="hero-body">
      <div class="content has-text-centered{% if cart.item_count <= 0 %} is-full-width{% endif %}">
        {% if cart.item_count > 0 %}
          <h1 class="title is-1 is-size-5-mobile has-text-centered has-text-primary is-marginless">Your Shopping Cart</h1>
        {% else %}
          <h1 class="title is-1 is-size-5-mobile has-text-centered has-text-primary is-marginless">Your Cart is Empty</h1>
          <hr>
          <a class="button is-small is-rounded is-primary is-outlined is-uppercase has-text-centered" href="/">Continue Shopping</a>
        {% endif %}
      </div>
    </div>
  </section>
  {% if cart.item_count > 0 %}
    <section class="section">
      <div class="container">
        <form action="/cart" method="post">
          <div class="columns">
            <div class="column is-two-thirds">
              {% for item in cart.items%}
                <div class="columns is-mobile product">
                  <div class="column product-image">
                    <figure class="image">
                      <img class="lazyload" data-sizes="auto" data-src="{{ item.image | product_img_url: '300x' }}" data-srcset="{{ item.image | img_url: '150x' }} 150w, {{ item.image | img_url: '300x' }} 300w, {{ item.image | img_url: '500x' }} 500w">
                    </figure>
                  </div>
                  <div class="column">
                    <div class="columns is-mobile">
                      <div class="column is-four-fifths product-details">
                        <a href="{{ item.url }}">
                          <h2 class="title is-3 is-size-6-mobile has-text-primary">{{ item.title }}
<span class="saso-cart-item-discount-notes" data-key="{{item.key}}"></span>
<span class="saso-cart-item-upsell-notes" data-key="{{item.key}}"></span>
                                </h2>
                        </a>
                        <div class="field">
                          <div class="control">
                            <input type="number" name="updates[]" id="updates_{{ item.key }}" data-id="{{ item.key }}" min="0" value="{{ item.quantity }}" class="input"/>
                          </div>
                        </div>
                        <p class="title is-3 is-size-6 is-size-7-mobile has-text-primary price">
<span class="saso-cart-item-price" data-key="{{item.key}}">{{ item.price | money }}</span>
</p>
                      </div>
                      <div class="column remove-product">
                        <a href="/cart/change?line={{ forloop.index }}&quantity=0" rel="{{ item.id }}" class="has-text-primary is-size-3">
                          x
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="column">
              <div class="content has-text-centered notifications">
                <p>
                  <span class="is-size-6">
                    <b class="is-uppercase">Free</b>
                    shipping on orders over $35.*</span>
                </p>
                <p>
                  {% comment %} <span class="is-size-7">Offer excludes Bulk Chia(5lbs+).</span> {% endcomment %}
                </p>
                <h2 class="title is-3 is-size-6-mobile has-text-primary">Subtotal:<span>
                    
<span class="saso-cart-original-total">{{ cart.total_price | money }}</span>
<span class="saso-cart-total"></span>
</span>
                </h2>
              </div>
              <div class="content has-text-centered checkout-buttons">
                <div class="field">
                  <div class="control has-text-centered">
                    <input class="button is-small is-rounded is-primary is-uppercase has-text-centered" name="checkout" type="submit" value="checkout"/>
                  </div>
                </div>
                <div class="field">
                  <div class="control has-text-centered">
                    <input class="button is-small is-rounded is-primary is-outlined is-uppercase has-text-centered" name="update" type="submit" value="update"/>
                  </div>
                </div>
                <div class="field">
                  <div class="control has-text-centered">
                    {% if additional_checkout_buttons %}
                      <div class="additional-checkout-buttons">
                        {{ content_for_additional_checkout_buttons }}
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="content has-text-centered continue-shopping">
                <p class="title is-3 is-size-6-mobile has-text-primary">Not done shopping?</p>
                <a class="button is-small is-rounded is-primary is-outlined is-uppercase has-text-centered" href="/">Contine Shopping</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>
  {% endif %}
</main>