{% for block in section.blocks %}
  {% if block.type == 'popup' %}
    {% assign pagehandle = block.settings.page %}
    {% assign handleclose = block.settings.page | remove: '-' %}
    <style>
      .popup {
        position: fixed;
        z-index: 100;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        display: none;
      }
      .popup.open {
        display: block;
      }
      .close {
        position: absolute;
        top: 0;
        right: 0;
        border: hidden;
        padding: 2px 10px 7px;
        line-height: 100%;
      }
    </style>
    <div id="{{ pagehandle }}-popup" class="popup container box">
      <button onclick="{{ handleclose }}Close()" class="close is-radiusless is-size-4 has-text-primary has-background-light-peach">x</button>      
      {{ pages[pagehandle].content }}
    </div>
    <script>
      var popup = document.getElementById("{{ pagehandle }}-popup");
      function {{ handleclose }}Open() {     
        popup.classList.add("open");
      }
      function {{ handleclose }}Close() {     
        popup.classList.remove("open");
      }
    </script>    
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Popups",
    "settings": [
      {
        "type": "header",
        "content": "Pop Up",
        "info": "Add Pop Ups"
      }
    ],
    "blocks": [
      {
        "type": "popup",
        "name": "Pop-up",
        "settings": [
          {
            "type": "page",
            "id": "page",
            "label": "Page",
            "info": "Select Page for Pop Up"
          }
        ]
      }
    ]
  }
{% endschema %}